.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 20px 30px 20px;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  background-color: #fafafa;
  padding: 20px;
  border-radius: 10px;
}

.right-container {
  justify-self: center;
  align-self: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #fafafa;
}

.title {
  font-family: 'Lilita One', cursive;
  font-size: 60px;
}

.scores {
  margin-bottom: 10px;
}
