body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 100vw;
  margin: 0px;
  color: #0a0a0a;
  background: radial-gradient(
      circle at top left,
      transparent 25%,
      #46afe3 25.5%,
      #46afe3 36%,
      transparent 37%,
      transparent 100%
    ),
    radial-gradient(
      circle at bottom right,
      transparent 34%,
      #46afe3 34.5%,
      #46afe3 45.5%,
      transparent 46%,
      transparent 100%
    );
  background-size: 3em 3em;
  background-color: #ffffff;
  opacity: 1;
}

.page-container {
  font-family: 'Concert One', cursive;
  padding: 10px;
}
