.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0px;
}

.footer {
  font-size: 20px;
  padding: 50px 0 10px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: auto;
}
